<a href="https://colab.research.google.com/github/andrewshiva/Tuning-n_estimators-to-Reduce-Overfitting-on-animal-zoo-dataset/blob/master/Tuning_min_samples_leaf_on_zoo_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [5]:
 df = pd.read_csv('/content/datasets_660531_1165745_openml_phpZNNasq.csv')
 df.head()

     animal   hair  feathers   eggs  ...   tail  domestic  catsize    type
0  aardvark   True     False  False  ...  False     False     True  mammal
1  antelope   True     False  False  ...   True     False     True  mammal
2      bass  False     False   True  ...   True     False    False    fish
3      bear   True     False  False  ...  False     False     True  mammal
4      boar   True     False  False  ...   True     False     True  mammal

[5 rows x 18 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 18 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   animal    101 non-null    object
 1   hair      101 non-null    bool
 2   feathers  101 non-null    bool
 3   eggs      101 non-null    bool
 4   milk      101 non-null    bool
 5   airborne  101 non-null    bool
 6   aquatic   101 non-null    bool
 7   predator  101 non-null    bool
 8   toothed   101 non-null    bool
 9   backbone  101 non-null    bool
 10  breathes  101 non-null    bool
 11  venomous  101 non-null    bool
 12  fins      101 non-null    bool
 13  legs      101 non-null    int64
 14  tail      101 non-null    bool
 15  domestic  101 non-null    bool
 16  catsize   101 non-null    bool
 17  type      101 non-null    object
dtypes: bool(15), int64(1), object(2)
memory usage: 4.0+ KB

In [0]:
df.drop(columns='animal', inplace=True)
y = df.pop('type')

In [9]:
X_train, X_test, y_train, y_test = train_test_split(df, y, test_size=0.4, random_state=188)
rf_model = RandomForestClassifier(random_state=42, n_estimators=30, max_depth=2, min_samples_leaf=3)
rf_model.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=2, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=3, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=30,
                       n_jobs=None, oob_score=False, random_state=42, verbose=0,
                       warm_start=False)

In [0]:
train_preds = rf_model.predict(X_train)
test_preds = rf_model.predict(X_test)

In [12]:
train_acc = accuracy_score(y_train, train_preds)
test_acc = accuracy_score(y_test, test_preds)
print(train_acc)
print(test_acc)

0.8333333333333334
0.8048780487804879

In [0]:
rf_model2 = RandomForestClassifier(random_state=42, n_estimators=30, max_depth=2, min_samples_leaf=7)
rf_model2.fit(X_train, y_train)
train_preds2 = rf_model2.predict(X_train)
test_preds2 = rf_model2.predict(X_test)

In [16]:
train_acc2 = accuracy_score(y_train, train_preds2)
test_acc2 = accuracy_score(y_test, test_preds2)
print(train_acc2)
print(test_acc2)

0.8
0.8048780487804879