<a href="https://colab.research.google.com/github/andrewshiva/Tuning-n_estimators-to-Reduce-Overfitting-on-animal-zoo-dataset/blob/master/Tuning_n_estimators_to_Reduce_Overfitting_on_animal_zoo_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [0]:
zoo_df = pd.read_csv('datasets_660531_1165745_openml_phpZNNasq.csv')

In [5]:
zoo_df.head()

     animal   hair  feathers   eggs  ...   tail  domestic  catsize    type
0  aardvark   True     False  False  ...  False     False     True  mammal
1  antelope   True     False  False  ...   True     False     True  mammal
2      bass  False     False   True  ...   True     False    False    fish
3      bear   True     False  False  ...  False     False     True  mammal
4      boar   True     False  False  ...   True     False     True  mammal

[5 rows x 18 columns]

In [0]:
zoo_df.drop(columns='animal', inplace=True)
y = zoo_df.pop('type')

In [0]:
X_train, X_test, y_train, y_test = train_test_split(zoo_df, y, test_size=0.4, random_state=188)

In [9]:
rf_model = RandomForestClassifier(random_state=42, n_estimators=1)
rf_model.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1,
                       n_jobs=None, oob_score=False, random_state=42, verbose=0,
                       warm_start=False)

In [0]:
train_preds = rf_model.predict(X_train)
test_preds = rf_model.predict(X_test)

In [0]:
train_acc = accuracy_score(y_train, train_preds)
test_acc = accuracy_score(y_test, test_preds)

In [12]:
print(train_acc)
print(test_acc)

0.9166666666666666
0.8048780487804879

In [13]:
rf_model2 = RandomForestClassifier(random_state=42, n_estimators=30)
rf_model2.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=30,
                       n_jobs=None, oob_score=False, random_state=42, verbose=0,
                       warm_start=False)

In [0]:
train_preds2 = rf_model2.predict(X_train)
test_preds2 = rf_model2.predict(X_test)

In [16]:
train_acc2 = accuracy_score(y_train, train_preds2)
test_acc2 = accuracy_score(y_test, test_preds2)
print(train_acc2)
print(test_acc2)

1.0
0.9024390243902439